.comments__heading {
    text-align: center;
}

.comments__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 700px;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

.comments__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.comments__name {
    text-align: center;
}

.comments__body {
    text-align: center;
}
